fastapi
uvicorn
yfinance
beautifulsoup4
requests
openai
langchain
langchain-community
langchain-openai
faiss-cpu
sentence-transformers
python-dotenv
tensorflow
pandas
numpy
scikit-learn
requests
fastapi
uvicorn